# Built outputs
/build
app/build
/captures

# Local configuration
local.properties

# Android Studio IDE
.idea/
*.iml

# Gradle
.gradle/
gradle/wrapper/gradle-wrapper.jar

# Native builds
.externalNativeBuild
.cxx

# Mac
.DS_Store

# Keystore
*.jks
*.keystore